language: php
php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
matrix:
  allow_failures:
    - php: 7.0
sudo: required
notifications:
  irc:
    use_notice: true
    skip_join: true
    channels: ["irc.freenode.org#imbo"]
branches:
  only:
    - develop
    - master
services:
  - rabbitmq
before_install:
  - sudo add-apt-repository -y ppa:moti-p/cc
  - sudo apt-get update
  - sudo apt-get -y --reinstall install imagemagick
  - printf "\n" | pecl install imagick
before_script:
  - composer self-update
  - composer -n --no-ansi install --dev --prefer-source
script:
  - ./vendor/bin/phpunit --verbose -c tests/phpunit.xml
