<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="false" bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="Unit tests">
      <directory>tests/unit</directory>
    </testsuite>
    <testsuite name="Integration tests">
      <directory>tests/integration</directory>
    </testsuite>
  </testsuites>

  <php>
    <!-- RabbitMQ host and port for the integration tests -->
    <var name="RABBITMQ_HOST" value="" />
    <var name="RABBITMQ_PORT" value="" />
  </php>

  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src</directory>
    </whitelist>
  </filter>
</phpunit>
